html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center; }

* {
  font-family: 'Open Sans', sans-serif; }

html {
  font-family: 'Open Sans', sans-serif; }

.login-container {
  height: 100vh;
  width: 360px;
  background: #fff;
  margin: 60px 0;
  border-radius: 6px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }

.login-container_title {
  font-size: 30px;
  font-weight: 600;
  color: #337ab7;
  margin: 70px 35px 40px; }

.login-container_header > p {
  font-size: 20px;
  font-weight: 500;
  margin-left: 35px;
  padding: 6px 0px; }

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; }

.form-submit > input {
  font-size: 17px;
  width: 80%;
  margin: 10px 0px;
  padding: 6px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }

.form-submit > button {
  width: 80%;
  padding: 8px 0px;
  border-style: none;
  outline: none;
  margin-top: 40px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #337ab7;
  color: #ffffff;
  cursor: pointer; }

.form-submit > span > a {
  text-decoration: none;
  padding-top: 6px;
  display: block;
  margin-left: 100px;
  font-size: 15px; }

.login_option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.login_option > p {
  margin-bottom: 10px;
  padding: 8px 0px;
  border-radius: 4px;
  width: 80%;
  background-color: #339db7;
  text-align: center;
  color: white; }

.login_option > p > a {
  color: white; }

.login-container_desc {
  margin-left: 35px;
  margin-top: 30px; }

.login-container_desc > a {
  text-decoration: none;
  color: #337ab7; }

.icon_back {
  margin-left: 30px;
  margin-top: 20px;
  position: absolute;
  color: #339db7; }

.body {
  font-family: 'Nunito', sans-serif; }

/* header */
.header {
  display: flex;
  height: 60px;
  background: #000;
  justify-content: center;
  align-items: center;
  color: #fff;
  right: 0;
  left: 0;
  position: fixed; }

.header_menu {
  justify-content: center;
  align-items: center;
  flex-grow: 1; }

.header_menu > ul {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: center;
  font-weight: 600; }

.header_menu > ul > li {
  padding: 20px; }

.header_logo {
  display: flex;
  font-size: 24px;
  font-weight: 1000;
  padding: 0 40px;
  justify-content: center; }

.nav_bar {
  display: flex;
  flex-grow: 0.05; }

.nav_bar > div {
  font-size: 20px;
  padding: 10px; }

/* end header */
.main > .main_silder > img {
  max-width: 100%; }

.main_item-1 {
  /* background: #ccc; */
  /* height: 500px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/* main */
/* for him */
.main_him-title {
  margin-top: 20px;
  height: 30px;
  /* background: #000; */
  font-size: 26px;
  color: #000;
  font-weight: 600;
  line-height: 30px;
  padding: 0 0 0 50px; }

.main_him {
  height: auto; }

.item-him {
  /* background-image: url('./image/8ts21s003-sb862-1-thumb-.jpg'); */
  height: 411.875px;
  width: 312.5px;
  background-repeat: no-repeat;
  background-size: 312.5px 411.875px;
  padding: 0px 5px; }

.item-him > img {
  width: 312.5px;
  height: 411.875px; }

.list-item-him {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; }

.contaier-item {
  /* margin-top: 10px; */
  margin-bottom: 20px;
  height: 519.6667px;
  box-sizing: border-box;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }

.item-him_desc {
  height: 100px;
  /* align-items: center; */
  justify-content: center;
  display: flex;
  flex-direction: column; }

.item-him_desc > h3 {
  font-size: 18px;
  font-weight: 1000px;
  padding: 10px; }

.item-him_desc > p {
  padding: 0px 10px;
  color: red;
  font-weight: 900; }
