<div class="login-container">
        <i class="fas fa-arrow-left icon_back"></i>
        <h2 class="login-container_title">Đăng Nhập</h2>
        <div class="login-container_header">
            <p>Chào mừng bạn</p>
            <p>Đến với Doo!!!</p>
        </div>
        <form action="/login" class="form-submit" method="POST">
            <input type="text" placeholder="User name" name="username">
            <input type="password" placeholder="Password" name="password">
            <span><a href="#">Quên mật khẩu</a></span>
            <button type="submit">Đăng nhập</button>
        </form>
        <div class="login_option">
            <p><i class="fab fa-google"></i>
            <a href="/auth/google" style="text-decoration: none;">Đăng nhập với Goolge</a> </p>
            <p><i class="fab fa-facebook"></i><a href="/auth/facebook" style="text-decoration: none;">Đăng nhập với Facebook</a></p>
        </div>
        <p class="login-container_desc">Không có tài khoản <a href="">Đăng ký</a></p>
    </div>
    <scrip>
        
    </scrip>